# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# VCS
.git

# local envs
.venv
venv/

# tests
tests/

# editor
.vscode/
*.swp

# docker
Dockerfile*
